<a href="https://colab.research.google.com/github/habibi2091/DAA/blob/main/DAA_Pertemuan13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def bfs(graph, start):
  visited = []
  queue = [start]

  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours :
        queue.append(neighbour)
  return visited

In [ ]:
graph={'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [ ]:
#O Amin------------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

bfs(graph, 'Amin')

['Amin', 'Nick', 'Wasim', 'Mike', 'Imran', 'Faras']

In [ ]:
#O Wasim-------
#|            |
#O Imran      O Amin-----
#|            |         |
#O Faras      O Nick    O Mike
bfs(graph,'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Nick', 'Mike']

In [ ]:
#O Faras
#|
#O Imran
#|
#O Wasim  O Nick  O Mike
#|        |       |
#O Amin------------
bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

In [ ]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

In [ ]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek1',
 'Warek2',
 'Kaprodi1',
 'Kaprodi3',
 'Kaprodi2',
 'Dosen B',
 'Dosen C',
 'Dosen A',
 'Dosen F',
 'Dosen G',
 'Dosen E',
 'Dosen D']

In [ ]:
def dfs(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)
  print(start)
  for next in graph[start] - visited:
    dfs(graph, next, visited)
  return visited

In [ ]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [ ]:
#O Amin -----------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

dfs(graph, 'Amin')

Amin
Nick
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [ ]:
#O Wasim-------
#|            |
#O Imran      O Amin-----
#|            |         |
#O Faras      O Nick    O Mike
dfs(graph,'Wasim')

Wasim
Imran
Faras
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [ ]:
#O Faras
#|
#O Imran
#|
#O Wasim  O Nick  O Mike
#|        |       |
#O Amin------------
dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [ ]:
#O Nick------
#|          |
#O Amin     O Mike
#|
#O Wasim    
#|
#O Imran
#|
#O Faras

dfs(graph, 'Nick')

Nick
Amin
Mike
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [ ]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

dfs(graph, 'Rektor')

Rektor
Warek1
Warek2
Kaprodi1
Dosen C
Dosen A
Dosen B
Kaprodi3
Dosen F
Dosen G
Kaprodi2
Dosen E
Dosen D

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi1',
 'Kaprodi2',
 'Kaprodi3',
 'Rektor',
 'Warek1',
 'Warek2'}